/*Registro*/

.registro{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-image: url(image/bg2.jpg);
    background-size: cover;
    background-position: center;
}

.registro h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;
}

.registro h1 span{
    color: #fac031;
    margin-right: 15px;
    font-family: mv boli;
}

.registro h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.registro .registro_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.registro .registro_main .registro_image img{
    width: 600px;
}

.registro .registro_main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.registro .registro_main form .input p{
    line-height: 25px;
}

.registro .registro_main form .input{
    margin: 5px;
}

.registro .registro_main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.registro .registro_main form .input input:focus{
    border: 2px solid #fac031;
}

.registro .registro_main form .inserir_btn{
    padding: 10px 0;
    background: #fac031;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}
.registro .registro_main form .excluir_btn{
    padding: 10px 0;
    background: #fac031;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}
.registro .registro_main form .alterar_btn{
    padding: 10px 0;
    background: #fac031;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.registro .registro_main form .pesquisar_btn{
    padding: 10px 0;
    background: #fac031;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.lupa{
    height: 30px;
    width: 30px;
    margin-left: 200px;
    margin-top: -55px;
}
